<form (ngSubmit)="submit()" *ngIf="bookForm" [formGroup]="form" appDatesValidator appUnitsValidator class="book ui-form">
  <ui-form-field>
    <ui-label>Название</ui-label>
    <input appTrimOnBlur autocomplete="off" class="book__name" formControlName="name" required type="text" uiInput />
    <ui-error *ngIf="form.get('name').invalid"> Это обязательное поле</ui-error>
  </ui-form-field>

  <app-book-tags-input [list]="authors" class="book__authors" formControlName="authors" header="Авторы"></app-book-tags-input>

  <ui-form-field>
    <ui-label>Год выпуска</ui-label>
    <input class="book__year" formControlName="year" type="number" uiInput />
  </ui-form-field>

  <ui-form-field>
    <ui-label>Жанр</ui-label>
    <input appTrimOnBlur class="book__genre" formControlName="genre" list="genreAutocomplete" type="text" uiInput />

    <datalist id="genreAutocomplete">
      <option *ngFor="let genre of genres | async" [value]="genre | capitalize">
        {{ genre | capitalize }}
      </option>
    </datalist>
  </ui-form-field>

  <div class="collection-input field-group horizontal">
    <ui-form-field class="name">
      <ui-label>Серия</ui-label>
      <select class="book__series" formControlName="collectionGuid" uiSelect>
        <option [value]="null">Отсутствует</option>
        <option *ngFor="let item of allSeries" [value]="item.guid">
          {{ item.name | capitalize }}
        </option>
      </select>
    </ui-form-field>

    <ui-form-field class="order">
      <ui-label>Порядок</ui-label>
      <input [appTrimFraction]="1" formControlName="collectionOrder" max="256" min="1" step="1" type="number" uiInput />
    </ui-form-field>
  </div>

  <app-book-tags-input [list]="tags" class="book__tags" formControlName="tags" header="Теги"></app-book-tags-input>

  <ui-form-field>
    <ui-label>Статус</ui-label>
    <select class="book__status" formControlName="status" uiSelect>
      <option [value]="BookStatus.ToRead">К прочтению</option>
      <option [value]="BookStatus.InProgress">Читаю</option>
      <option [value]="BookStatus.Done">Прочитана</option>
    </select>
  </ui-form-field>

  <ui-form-field>
    <ui-label>Тип книги</ui-label>
    <select class="book__type" formControlName="type" uiSelect>
      <option [value]="BookType.Paper">Бумажная книга</option>
      <option [value]="BookType.Electronic">Электронная книга</option>
      <option [value]="BookType.Audio">Аудиокнига</option>
    </select>
  </ui-form-field>

  <ui-form-field [hidden]="status !== BookStatus.InProgress">
    <ui-label>Прогресс</ui-label>
    <select class="book__progressType" formControlName="progressType" uiSelect>
      <option [value]="ProgressAlgorithm.Done">{{ type == BookType.Audio ? 'Прослушано' : 'Прочитано' }}</option>
      <option [value]="ProgressAlgorithm.Left">Осталось</option>
    </select>
  </ui-form-field>

  <div [hidden]="status !== BookStatus.InProgress" [ngSwitch]="type" class="book-edit__progress field-group horizontal">
    <div *ngSwitchCase="BookType.Audio" class="book-edit__progress_audio">
      <div>
        <ui-label>{{ progressAlgorithm == ProgressAlgorithm.Done ? 'Прослушано' : 'Осталось' }}</ui-label>
        <app-book-time-input class="book__doneUnits" formControlName="doneUnits"></app-book-time-input>
      </div>
      <div>
        <ui-label>Всего</ui-label>
        <app-book-time-input class="book__totalUnits" formControlName="totalUnits"></app-book-time-input>
      </div>
    </div>

    <div *ngSwitchDefault class="book-edit__progress_audio field-group horizontal">
      <ui-form-field>
        <ui-label>Страниц</ui-label>
        <input autocomplete="off" class="book__doneUnits" formControlName="doneUnits" max="6000" min="0" step="1" type="number" uiInput />
      </ui-form-field>

      <ui-form-field>
        <ui-label>Всего</ui-label>
        <input autocomplete="off" class="book__totalUnits" formControlName="totalUnits" max="6000" min="0" step="1" type="number" uiInput />
      </ui-form-field>
    </div>

    <ui-error *ngIf="form?.errors?.invalidUnits"> Неверно указан прогресс</ui-error>
  </div>

  <div [hidden]="status != BookStatus.Done && status != BookStatus.InProgress">
    <ui-label>Начало чтения</ui-label>
    <app-book-date-input class="book__started" formControlName="started"></app-book-date-input>
  </div>

  <div [hidden]="status != BookStatus.Done">
    <ui-label>Окончание чтения</ui-label>
    <app-book-date-input class="book__finished" formControlName="finished"></app-book-date-input>
  </div>

  <ui-error *ngIf="form?.errors?.invalidDates"> Дата начала больше даты окончания</ui-error>

  <ui-form-field>
    <ui-label>Заметки</ui-label>
    <textarea appTrimOnBlur autocomplete="off" class="book__notes" formControlName="note" rows="4" uiInput></textarea>
  </ui-form-field>

  <button [disabled]="form.invalid" class="w-100 book__create-button" color="success" type="submit" uiButton>Сохранить</button>
</form>
