<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label i18n="book name label@@book__label_name">Название</mat-label>
    <input matInput formControlName="name" type="text" required autocomplete="off"/>
    <mat-error *ngIf="form.get('name').invalid" i18n>
      Это обязательное поле
    </mat-error>
  </mat-form-field>

  <app-book-tags-input [list]="authors" formControlName="authors" header="Авторы"></app-book-tags-input>

  <mat-form-field appearance="fill">
    <mat-label i18n="book year label@@book__label_year">Год выпуска</mat-label>
    <input matInput formControlName="year" type="number"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label i18n="book genre label@@book__label_genre">Жанр</mat-label>
    <input matInput
           formControlName="genre"
           type="text"
           [matAutocomplete]="genreAutocomplete">

    <mat-autocomplete #genreAutocomplete="matAutocomplete">
      <mat-option *ngFor="let genre of genres | async" [value]="genre | capitalize">
        {{genre | capitalize}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="collection-input">
    <mat-form-field appearance="fill" class="name">
      <mat-label>Серия</mat-label>
      <mat-select formControlName="collectionGuid">
        <mat-option [value]="null">Отсутствует</mat-option>
        <mat-option *ngFor="let item of allSeries" [value]="item.guid">
          {{item.name | capitalize}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="order">
      <mat-label>Порядок</mat-label>
      <input matInput formControlName="collectionOrder" type="number" min="1" max="256" step="1"/>
    </mat-form-field>
  </div>

  <app-book-tags-input [list]="tags" formControlName="tags" header="Теги"></app-book-tags-input>

  <mat-form-field appearance="fill">
    <mat-label i18n="book status label@@book__label_status">Статус</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="BookStatus.ToRead" i18n="book status@@book__status_to-read">К прочтению</mat-option>
      <mat-option [value]="BookStatus.InProgress" i18n="book status@@book__status_in-progress">Читаю</mat-option>
      <mat-option [value]="BookStatus.Done" i18n="book status@@book__status_done">Прочитана</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label i18n="book authors label@@book__label_type">Тип книги</mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="BookType.Paper" i18n="book type paper@@book__type_paper">Бумажная книга</mat-option>
      <mat-option [value]="BookType.Electronic" i18n="book type electronic@@book__type_electronic">Электронная книга
      </mat-option>
      <mat-option [value]="BookType.Audio" i18n="book type audio@@book__type_audio">Аудиокнига</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="book-edit__progress" [ngSwitch]="type" [hidden]="status !== BookStatus.InProgress">
    <div class="book-edit__progress_audio" *ngSwitchCase="BookType.Audio">
      <div>
        <mat-label i18n="book edit audio progress label@@book-edit__label_audio-progress">Прослушано</mat-label>
        <app-book-time-input formControlName="doneUnits"></app-book-time-input>
      </div>

      <div>
        <mat-label i18n="book edit audio total label@@book-edit__label_total-audio-progress">Всего</mat-label>
        <app-book-time-input formControlName="totalUnits"></app-book-time-input>
      </div>
    </div>
    <div class="book-edit__progress_audio" *ngSwitchDefault>
      <mat-form-field appearance="fill">
        <mat-label i18n="book edit paper progress label@@book-edit__label_paper-progress">Прочитано</mat-label>
        <input matInput type="number" formControlName="doneUnits" min="0" step="1" max="6000" autocomplete="off"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Всего</mat-label>
        <input matInput type="number" formControlName="totalUnits" min="0" step="1" max="6000" autocomplete="off"/>
      </mat-form-field>
    </div>
  </div>

  <div [hidden]="status != BookStatus.Done && status != BookStatus.InProgress">
    <mat-label>Начало чтения</mat-label>
    <app-book-date-input formControlName="started"></app-book-date-input>
  </div>

  <div [hidden]="status != BookStatus.Done">
    <mat-label>Окончание чтения</mat-label>
    <app-book-date-input formControlName="finished"></app-book-date-input>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Заметки</mat-label>
    <textarea matInput rows="4" autocomplete="off" formControlName="note"></textarea>
  </mat-form-field>

  <button class="w-100" mat-flat-button [disabled]="form.invalid" color="primary" i18n="book-edit save label"
          type="submit">Сохранить
  </button>
</form>
