@import "~bookolog-ui-kit/src/styles";

@import "styles/variables";
@import "styles/components";
@import "styles/pages";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  max-height: 100%;
  max-width: 100%;
}

app-root {
  @extend body;
}

// Text styles

.dark-text {
  color: $secondary-text-color;
}

.no-wrap {
  white-space: nowrap;
}

.truncate-text {
  @extend .no-wrap;

  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.center-text {
  text-align: center;
}

// Sizes

.w-100 {
  width: 100%;
}

// Notifications

app-notifications-area {
  position: fixed;

  bottom: 16px;
  left: 16px;
  z-index: 1000;

  width: calc(100% - 32px);
}

[hidden] {
  display: none !important;
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
