// @import "styles/reset";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "styles/variables";
@import "styles/components";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  max-height: 100%;
  max-width: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;

  max-width: 100%;
  max-height: 100%;
}

app-root {
  @extend body;
}

// Text styles

.dark-text {
  color: $secondary-text-color;
}

.no-wrap {
  white-space: nowrap;
}

.truncate-text {
  @extend .no-wrap;

  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.center-text {
  text-align: center;
}

// Sizes

.w-100 {
  width: 100%;
}


.link {
  color: #007BFF;
}

// Notifications

app-notifications-area {
  position: fixed;

  bottom: 1rem;
  left: 1rem;
  z-index: 1000;

  width: calc(100% - 2rem);
}

[hidden] {
  display: none !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
