.book {
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 1rem;

  & > * + * {
    margin-top: 0.5rem;
  }

  &__header {
    font-weight: 500;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__dates {
    font-size: 0.75rem;
  }
}
