<div *ngIf="books$ | async as books" class="book-list">
  <cdk-virtual-scroll-viewport [itemSize]="80" [maxBufferPx]="490" [minBufferPx]="350" class="book-list in-progress-books-list">
    <div *cdkVirtualFor="let book of books$ | async; let last = last; trackBy: bookTrackBy">
      <app-in-progress-book [book]="book" [routerLink]="['/book', book.guid]" class="book-list__item"></app-in-progress-book>
      <mat-divider *ngIf="!last"></mat-divider>
    </div>
  </cdk-virtual-scroll-viewport>
  <span *ngIf="+books?.length === 0">Здесь пока ничего нет</span>
</div>
