@import "~src/styles/variables";

:host {
  display: grid;

  grid-template-columns: 96px auto;
  grid-template-rows: 40px 40px;

  grid-row-gap: 16px;

  width: 100%;
  height: 96px;

  background-color: #673ab7;

  color: white;
}

.avatar {
  background-origin: content-box;

  background-position: center center;
  background-size: 100% auto;

  border-radius: 50%;

  height: 80px;
  width: 80px;
}

.avatar-place {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

  display: flex;

  justify-content: center;
  align-items: center;
}

.icon {
  border-radius: 32px;
  background-color: #ffd740;

  height: 64px;
  width: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
}

.login {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-weight: $fat-font-weight;
}


.count {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  &_value {
    padding-right: $ind-1;
  }
}
