@import "../../../../styles/variables";

.main-page {
  display: flex;

  flex-flow: column;

  height: calc(100% - 56px);
}

.info {
  flex: 1 1 auto;
}

.actions {
  flex: 0 0 auto;

  display: flex;

  flex-flow: column;

  button {
    margin-top: $ind-2;
  }
}
