<div class="content">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="form-header">Смена пароля</label>
    <mat-form-field appearance="fill">
      <mat-label i18n>Текущий пароль</mat-label>
      <input matInput type="password" formControlName="currentPassword" required/>
      <mat-error *ngIf="form.get('currentPassword').invalid" i18n>
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label i18n>Новый пароль</mat-label>
      <input matInput type="password" formControlName="newPassword" required/>
      <mat-error *ngIf="form.get('newPassword').invalid" i18n>
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label i18n>Подтверждение пароля</mat-label>
      <input matInput type="password" formControlName="passwordConfirmation" required/>
      <mat-error *ngIf="form.get('passwordConfirmation')?.errors?.required" i18n>
        Это обязательное поле
      </mat-error>
      <mat-error
        *ngIf="form.get('passwordConfirmation')?.errors?.passwordMatch && !form.get('passwordConfirmation')?.errors?.required"
        i18n>
        Пароли не совпадают
      </mat-error>
    </mat-form-field>

    <mat-error i18n="Login existing message" *ngIf="error !== null" class="login-error">
      {error, plural,
        =0 {Неверный текущий пароль}
        other {Неизвестная ошибка}
      }
    </mat-error>

    <button mat-flat-button
            color="primary"
            class="w-100"
            [disabled]="form.invalid"
            type="submit"
            i18n
    >
      Сменить пароль
    </button>
  </form>
</div>
