<div class="content">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <label class="form-header">Смена пароля</label>

    <mat-form-field appearance="fill">
      <mat-label>Текущий пароль</mat-label>
      <input formControlName="currentPassword" matInput required type="password" />
      <mat-error *ngIf="form.get('currentPassword').invalid"> Это обязательное поле </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Новый пароль</mat-label>
      <input formControlName="newPassword" matInput required type="password" />
      <mat-error *ngIf="form.get('newPassword').invalid"> Это обязательное поле </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Подтверждение пароля</mat-label>
      <input formControlName="passwordConfirmation" matInput required type="password" />
      <mat-error *ngIf="form.get('passwordConfirmation')?.errors?.required"> Это обязательное поле </mat-error>
      <mat-error *ngIf="form.get('passwordConfirmation')?.errors?.passwordMatch && !form.get('passwordConfirmation')?.errors?.required">
        Пароли не совпадают
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="error !== null" class="login-error">
      <ng-container [ngSwitch]="error">
        <span *ngSwitchCase="ChangePasswordError.IncorrectOldPassword">Неверный текущий пароль</span>
        <span *ngSwitchDefault>Неизвестная ошибка</span>
      </ng-container>
    </mat-error>

    <button [disabled]="form.invalid" class="w-100" color="primary" mat-flat-button type="submit">Сменить пароль</button>
  </form>
</div>
