<div class="content">
  <form (ngSubmit)="submit()" [formGroup]="form.nativeForm">
    <label class="form-header">Смена пароля</label>

    <mat-form-field appearance="fill" class="current-password-field">
      <mat-label>Текущий пароль</mat-label>
      <input formControlName="currentPassword" matInput required type="password" />
      <mat-error *ngIf="form.currentPasswordInvalid">{{ form.currentPasswordErrorMessage }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="new-password-field">
      <mat-label>Новый пароль</mat-label>
      <input formControlName="password" matInput required type="password" />
      <mat-error *ngIf="form.newPasswordErrorMessage">{{ form.newPasswordErrorMessage }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="confirmation-password-field">
      <mat-label>Подтверждение пароля</mat-label>
      <input formControlName="confirmation" matInput required type="password" />
      <mat-error *ngIf="form.passwordConfirmationInvalid">{{ form.passwordConfirmationErrorMessage }}</mat-error>
    </mat-form-field>

    <mat-error *ngIf="error !== null" class="login-error">
      <ng-container [ngSwitch]="error">
        <span *ngSwitchCase="ChangePasswordError.IncorrectOldPassword">Неверный текущий пароль</span>
        <span *ngSwitchDefault>Неизвестная ошибка</span>
      </ng-container>
    </mat-error>

    <button [disabled]="form.invalid" class="w-100" color="primary" mat-flat-button type="submit">Сменить пароль</button>
  </form>
</div>
