:host {
  display: block;
  position: relative;

  height: 100%;
  width: 100%;

  &::ng-deep {
    .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
  }
}

.years__meta {
  text-align: right;
}

.book-list {
  height: 100%;
  width: 100%;

  position: relative;
}

.cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
