@import "~src/styles/variables";

.tag {
  &:not(:first-child) {
    margin-right: $ind-1;
  }
}

.book__name {
  font-size: $large-font-size;
  font-weight: $fat-font-weight;
}

.book__authors {
  font-size: $normal-font-size;
}
