<ng-container *ngIf="(book$ | async) as book">
  <div class="book__name property">
    <div class="property__value">
      {{book.name}}
    </div>
  </div>

  <div class="book__authors property" *ngIf="book.authors.length > 0">
    <div class="property__value">
      <span *ngFor="let author of book.authors; let last = last">
        {{author}}<span *ngIf="!last">,</span>
      </span>
    </div>
    <label i18n="book authors label@@book__label_authors">Авторы</label>
  </div>

  <div class="book__year property" *ngIf="!!book.year">
    <div class="property__value">
      {{book.year}}
    </div>
    <label i18n="book year label@@book__label_year">Год выпуска</label>
  </div>

  <div class="book__type property">
    <div class="property__value">
      <span [ngSwitch]="book.type">
        <span *ngSwitchCase="BookType.Paper" i18n="book type@@book__type_paper">Бумажная книга</span>
        <span *ngSwitchCase="BookType.Electronic" i18n="book type@@book__type_electronic">Электронная книга</span>
        <span *ngSwitchCase="BookType.Audio" i18n="book type@@book__type_audio">Аудиокнига</span>
      </span>
    </div>
    <label i18n="book authors label@@book__label_type">Тип книги</label>
  </div>

  <div class="book__genre property" *ngIf="!!book.genre">
    <div class="property__value">
      {{book.genre}}
    </div>
    <label i18n="book genre label@@book__label_genre">Жанр</label>
  </div>

  <div class="book__status property">
    <div class="property__value">
      <span [ngSwitch]="book.status">
        <span *ngSwitchCase="BookStatus.ToRead" i18n="book status@@book__status_to-read">К прочтению</span>
        <span *ngSwitchCase="BookStatus.InProgress" i18n="book status@@book__status_in-progress">Читаю</span>
        <span *ngSwitchCase="BookStatus.Done" i18n="book status@@book__status_done">Прочитана</span>
      </span>
    </div>
    <label i18n="book status label@@book__label_status">Статус</label>
  </div>

  <div class="book__tags property" *ngIf="book.tags.length > 0">
    <div class="property__value">
      <span class="tag" *ngFor="let tag of book.tags">
        {{tag}}
      </span>
    </div>
    <label i18n="book tags label@@book__label_tags">Теги</label>
  </div>

  <div class="book__progress property" *ngIf="book.doneUnits && book.totalUnits">
    <div class="property__value">
      <mat-progress-bar [value]="getProgressValue(book)"></mat-progress-bar>
    </div>
    <label i18n="book progress label@@book__label_progress">Прогресс</label>
  </div>

  <div class="book__start-date property" *ngIf="book.startDate">
    <div class="property__value">
      {{book.startDate | date: 'shortDate'}}
    </div>
    <label i18n="book start date label@@book__label_start-date">Начата</label>
  </div>

  <div class="book__end-date property" *ngIf="book.endDate">
    <div class="property__value">
      {{book.endDate | date: 'shortDate'}}
    </div>
    <label i18n="book end date label@@book__label_end-date">Окончена</label>
  </div>

  <button class="w-100 edit-button" mat-flat-button color="primary" i18n>Редактировать</button>
  <button class="w-100" mat-flat-button color="warn" i18n (click)="openDeleteDialog(book)">Удалить</button>
</ng-container>
