<div class="book__name property">
  <div class="property__value">
    {{book.name}}
  </div>
</div>

<div class="book__authors property" *ngIf="book.authors.length > 0">
  <div class="property__value">
      <span *ngFor="let author of book.authors | capitalize; let last = last" class="link" [routerLink]="['/author', author]">
        {{author}}<span *ngIf="!last">,</span>
      </span>
  </div>
  <label >Авторы</label>
</div>

<div class="book__year property" *ngIf="book.year">
  <div class="property__value">
    {{book.year}}
  </div>
  <label >Год выпуска</label>
</div>

<div class="book__type property">
  <div class="property__value">
      <span [ngSwitch]="book.type">
        <span *ngSwitchCase="BookType.Paper" >Бумажная книга</span>
        <span *ngSwitchCase="BookType.Electronic" >Электронная книга</span>
        <span *ngSwitchCase="BookType.Audio" >Аудиокнига</span>
      </span>
  </div>
  <label >Тип книги</label>
</div>

<div class="book__genre property" *ngIf="book.genre">
  <div class="property__value link" [routerLink]="['/genre', book.genre]">
    {{book.genre | capitalize}}
  </div>
  <label >Жанр</label>
</div>

<div class="book__collection property" *ngIf="book.collection">
  <div class="property__value link" [routerLink]="['/series', book.collection.guid]">
    {{book.collection.name | capitalize}}
  </div>
  <label >Серия</label>
</div>

<div class="book__status property">
  <div class="property__value">
      <span [ngSwitch]="book.status">
        <span *ngSwitchCase="BookStatus.ToRead" class="link" [routerLink]="['/to-read']">К прочтению</span>
        <span *ngSwitchCase="BookStatus.InProgress" class="link" [routerLink]="['/in-progress']">Читаю</span>
        <span *ngSwitchCase="BookStatus.Done" class="link" [routerLink]="['/done']">Прочитана</span>
      </span>
  </div>
  <label >Статус</label>
</div>

<div class="book__tags property" *ngIf="book.tags.length > 0">
  <div class="property__value tags">
    <app-tag-value *ngFor="let tag of book.tags" [name]="tag | capitalize" showCross="false" [routerLink]="['/tag', tag]"></app-tag-value>
  </div>
  <label >Теги</label>
</div>

<div class="book__progress property" *ngIf="book.doneUnits && book.totalUnits">
  <div class="property__value">
    <mat-progress-bar [value]="book.progressPercents"></mat-progress-bar>
  </div>
  <label >Прогресс</label>
</div>

<div class="book__readings property" *ngIf="doneReadings?.length > 1">
  <div class="property__value">
    {{doneReadings.length}}
  </div>
  <label >Прочитана раз</label>
</div>

<div class="book__start-date property" *ngIf="book.startDate && book.status !== BookStatus.ToRead">
  <div class="property__value">
    {{book.startDate | date: 'shortDate'}}
  </div>
  <label >Начата</label>
</div>

<div class="book__end-date property" *ngIf="book.endDate && book.status === BookStatus.Done">
  <div class="property__value">
    {{book.endDate | date: 'shortDate'}}
  </div>
  <label >Окончена</label>
</div>

<div class="book__note property" *ngIf="book.note">
  <div class="property__value">
    {{book.note}}
  </div>
  <label>Заметки</label>
</div>

<button *ngIf="book.status == BookStatus.Done"
        class="w-100 edit-button"
        [routerLink]="['/book/reread', book.guid]"
        mat-flat-button color="accent"
>
  Перечитать
</button>

<button class="w-100 edit-button"
        [routerLink]="['/book/edit', book.guid]"
        mat-flat-button color="primary"
>
  Редактировать
</button>

<button class="w-100"
        mat-flat-button color="warn"
        (click)="openDeleteDialog(book)"
>
  Удалить
</button>
