<div class="book__name property">
  <div class="property__value">
    {{ book.name }}
  </div>
</div>

<div *ngIf="book.authors.length > 0" class="book__authors property">
  <div class="property__value">
    <span *ngFor="let author of book.authors | capitalize; let last = last" [routerLink]="['/author', author]" class="link">
      {{ author }}<span *ngIf="!last">,</span>
    </span>
  </div>
  <label>Авторы</label>
</div>

<div *ngIf="book.year" class="book__year property">
  <div class="property__value">
    {{ book.year }}
  </div>
  <label>Год выпуска</label>
</div>

<div class="book__type property">
  <div class="property__value">
    <span [ngSwitch]="book.type">
      <span *ngSwitchCase="BookType.Paper">Бумажная книга</span>
      <span *ngSwitchCase="BookType.Electronic">Электронная книга</span>
      <span *ngSwitchCase="BookType.Audio">Аудиокнига</span>
    </span>
  </div>
  <label>Тип книги</label>
</div>

<div *ngIf="book.genre" class="book__genre property">
  <div [routerLink]="['/genre', book.genre]" class="property__value link">
    {{ book.genre | capitalize }}
  </div>
  <label>Жанр</label>
</div>

<div *ngIf="book.collection" class="book__collection property">
  <div [routerLink]="['/series', book.collection.guid]" class="property__value link">
    {{ book.collection.name | capitalize }} <span *ngIf="book.collectionOrder != null" class="order">№ {{ book.collectionOrder }}</span>
  </div>
  <label>Серия</label>
</div>

<div class="book__status property">
  <div class="property__value">
    <span [ngSwitch]="book.status">
      <span *ngSwitchCase="BookStatus.ToRead" [routerLink]="['/to-read']" class="link">К прочтению</span>
      <span *ngSwitchCase="BookStatus.InProgress" [routerLink]="['/in-progress']" class="link">Читаю</span>
      <span *ngSwitchCase="BookStatus.Done" [routerLink]="['/done']" class="link">Прочитана</span>
    </span>
  </div>
  <label>Статус</label>
</div>

<div *ngIf="book.tags.length > 0" class="book__tags property">
  <div class="property__value tags">
    <ui-chip *ngFor="let tag of book.tags" [routerLink]="['/tag', tag]" showCross="false">
      {{ tag | capitalize }}
    </ui-chip>
  </div>
  <label>Теги</label>
</div>

<div *ngIf="book.doneUnits && book.totalUnits && book.status === BookStatus.InProgress" class="book__progress property">
  <div class="property__value">
    <ui-progress-bar [value]="book.progressPercents"></ui-progress-bar>
  </div>
  <label>Прогресс</label>
</div>

<div *ngIf="doneReadings?.length > 1" class="book__readings property">
  <div class="property__value">
    {{ doneReadings.length }}
  </div>
  <label>Прочитана раз</label>
</div>

<div *ngIf="book.startDate && book.status !== BookStatus.ToRead" class="book__start-date property">
  <div class="property__value">
    {{ book.startDate | date: 'shortDate' }}
  </div>
  <label>Начата</label>
</div>

<div *ngIf="book.endDate && book.status === BookStatus.Done" class="book__end-date property">
  <div class="property__value">
    {{ book.endDate | date: 'shortDate' }}
  </div>
  <label>Окончена</label>
</div>

<div *ngIf="book.note" class="book__note property">
  <div class="property__value">
    {{ book.note }}
  </div>
  <label>Заметки</label>
</div>

<div class="button-group vertical">
  <button (click)="markAsProgress(book)" *ngIf="book.status == BookStatus.ToRead" class="mark-as-progress book-status-button" uiButton>
    Читаю
  </button>

  <button (click)="markAsDone(book)" *ngIf="book.status == BookStatus.InProgress" class="mark-as-done book-status-button" uiButton>
    Прочитана
  </button>

  <button *ngIf="book.status == BookStatus.Done" [routerLink]="['/book/reread', book.guid]" class="edit-button" color="warning" uiButton>
    Перечитать
  </button>

  <button [routerLink]="['/book/edit', book.guid]" class="w-100 edit-button" color="secondary" uiButton>Редактировать</button>

  <button (click)="openDeleteDialog(book)" color="danger" uiButton>Удалить</button>
</div>
<ng-template #container></ng-template>
