@import 'variables';
@import 'mixins';


header {
    min-height: $header-height;
    border-bottom: $split-border-style;

    .main-icon {
        display: block;
        background-color: cadetblue;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

#app {
    main {
        
    }
}

.list {
    .header {

    }

    .body {
        margin-top: $list-body-margin-top;
    }

    .list-line {
        display: flex;
        justify-content: flex-start;
        align-items: start;
    
        .index {
          padding-right: 1rem;
        }
      }
}

.list.book {
    .body {
        .list-line:not(:last-child) {
            margin-bottom: $book-list-line-margin-bottom;
        }
    }
}

.no-index {
    .list {
        .list-line {
            .index {
                display: none;
            }
        }
    }
}

.date {
    color: $date-color;
}

.book {
    @include isDesktop {
        width: 500px;
    };

    @include isMobile {
        width: 100%;
    }
    
    .progress {
        width: 100%;
    }
}