@import "styles/variables";
@import "styles/reset";
@import "styles/fonts";
@import "styles/icons";
@import "styles/components";

*, *::before, *::after {
  box-sizing: border-box;
}

.p-h-4 {
  padding-left: $ind-4;
  padding-right: $ind-4;
}

.p-r-4 {
  padding-right: $ind-4;
}
