
.book-reread {
  &__progress {
    &_audio {
      display: flex;

      justify-content: space-between;

      > * {
        flex: 0 0 47.5%;
        width: 47.5%;
      }
    }
  }
}

.book__name {
  font-size: 20px;
  font-weight: 600;
}
