<div class="book__name property">
  <div class="property__value">
    {{ book.name }}
  </div>
</div>

<div *ngIf="book.authors.length > 0" class="book__authors property">
  <div class="property__value">
    <span *ngFor="let author of book.authors | capitalize; let last = last" [routerLink]="['/author', author]" class="link">
      <span class="author__value">{{ author }}</span
      ><span *ngIf="!last">, </span>
    </span>
  </div>
  <label>Авторы</label>
</div>

<form (ngSubmit)="submit()" [formGroup]="form" appDatesValidator appUnitsValidator>
  <ui-form-field appearance="fill">
    <ui-label>Статус</ui-label>
    <select formControlName="status" uiSelect>
      <option [value]="BookStatus.ToRead">К прочтению</option>
      <option [value]="BookStatus.InProgress">Читаю</option>
      <option [value]="BookStatus.Done">Прочитана</option>
    </select>
  </ui-form-field>

  <ui-form-field appearance="fill">
    <ui-label>Тип книги</ui-label>
    <select class="book__type" formControlName="type" uiSelect>
      <option [value]="BookType.Paper">Бумажная книга</option>
      <option [value]="BookType.Electronic">Электронная книга</option>
      <option [value]="BookType.Audio">Аудиокнига</option>
    </select>
  </ui-form-field>

  <ui-form-field [hidden]="bookForm.status !== BookStatus.InProgress" appearance="fill">
    <ui-label>Прогресс</ui-label>
    <select formControlName="progressType" uiSelect>
      <option [value]="ProgressAlgorithm.Done">{{ bookForm.type == BookType.Audio ? 'Прослушано' : 'Прочитано' }}</option>
      <option [value]="ProgressAlgorithm.Left">Осталось</option>
    </select>
  </ui-form-field>

  <div [hidden]="status !== BookStatus.InProgress" [ngSwitch]="type" class="book-reread__progress">
    <div *ngSwitchCase="BookType.Audio" class="book-reread__progress_audio">
      <div>
        <ui-label>{{ progressAlgorithm == ProgressAlgorithm.Done ? 'Прослушано' : 'Осталось' }}</ui-label>
        <app-book-time-input formControlName="doneUnits"></app-book-time-input>
      </div>

      <div>
        <ui-label>Всего</ui-label>
        <app-book-time-input formControlName="totalUnits"></app-book-time-input>
      </div>
    </div>
    <div *ngSwitchDefault class="book-reread__progress_audio">
      <ui-form-field appearance="fill">
        <ui-label>Страниц</ui-label>
        <input autocomplete="off" formControlName="doneUnits" max="6000" min="0" step="1" type="number" uiInput />
      </ui-form-field>

      <ui-form-field appearance="fill">
        <ui-label>Всего</ui-label>
        <input autocomplete="off" formControlName="totalUnits" max="6000" min="0" step="1" type="number" uiInput />
      </ui-form-field>
    </div>

    <ui-error *ngIf="form?.errors?.invalidUnits"> Неверно указан прогресс</ui-error>
  </div>

  <div [hidden]="status != BookStatus.Done && status != BookStatus.InProgress">
    <ui-label>Начало чтения</ui-label>
    <app-book-date-input formControlName="started"></app-book-date-input>
  </div>

  <div [hidden]="status != BookStatus.Done">
    <ui-label>Окончание чтения</ui-label>
    <app-book-date-input formControlName="finished"></app-book-date-input>
  </div>

  <ui-error *ngIf="form?.errors?.invalidDates"> Дата начала больше даты окончания</ui-error>

  <button [disabled]="form.invalid" class="w-100" color="primary" type="submit" uiButton>Сохранить</button>
</form>
