<span *ngIf="(custom$ | async) as custom">
  {{custom}}
</span>
<span *ngIf="(title$ | async) as title">
  {title, plural,
    =1    {Вход}
    =2    {Регистрация}
    =3    {Восстановление пароля}
    =10   {Настройки}
    =100  {Читаю сейчас}
    =110  {Буду читать}
    =120  {Прочитаные}
    =130  {О книге}
    =140  {Редактировать книгу}
    =150  {Создать книгу}
    =200  {Теги}
    =210  {Жанры}
    =220  {Авторы}
    =230  {Года прочтения}
    =310  {Серии}
    =340  {О серии}
    =350  {Создание серии}
    =360  {Редактирование серии}
    other {Bookolog}
    }
</span>
