<div class="book__name truncate-text" [routerLink]="['/book', guid]">{{name}}</div>
<div class="book__authors truncate-text" *ngIf="authors.length > 0">
  <small>{{authors | join}}</small>
</div>
<mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
<div class="book__progress-data dark-text" *ngIf="progressValue || startDate">
  <small class="progress" *ngIf="progressValue">
    <ng-container [ngSwitch]="type">
      <app-book-time-progress *ngSwitchCase="BookType.Audio" [done]="done" [total]="total"></app-book-time-progress>
      <app-book-pages-progress *ngSwitchDefault [done]="done" [total]="total"></app-book-pages-progress>
    </ng-container>
  </small>
  <div class="separator">

  </div>
  <small *ngIf="startDate">
    <app-date-range [startDate]="startDate" [endDate]="null"></app-date-range>
  </small>
</div>
