<app-book-header [book]="innerBook" class="book-line__name"></app-book-header>
<div class="book-line__authors truncate-text">
  <app-book-authors [authors]="authors"></app-book-authors>
</div>
<ui-progress-bar [value]="progressValue"></ui-progress-bar>
<div *ngIf="progressValue || startDate; else noDates" class="book-line__progress-data dark-text">
  <small class="progress">
    <ng-container *ngIf="progressValue" [ngSwitch]="type">
      <app-book-time-progress *ngSwitchCase="BookType.Audio" [done]="done" [total]="total"></app-book-time-progress>
      <app-book-pages-progress *ngSwitchDefault [done]="done" [total]="total"></app-book-pages-progress>
    </ng-container>
  </small>
  <div class="separator"></div>
  <small *ngIf="startDate">
    <app-date-range [endDate]="null" [startDate]="startDate"></app-date-range>
  </small>
</div>
<ng-template #noDates>
  <small class="book-line__progress-data dark-text">Нет даты</small>
</ng-template>
