<form (click)="emitTouch($event)" [formGroup]="form" appDateDayValidator appDateMonthValidator>
  <div class="date-input">
    <mat-form-field appearance="fill">
      <mat-label>Год</mat-label>
      <input [max]="maxYear" autocomplete="off" class="year" formControlName="year" matInput min="1970" step="1" type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Месяц</mat-label>
      <input autocomplete="off" class="month" formControlName="month" matInput max="12" min="1" step="1" type="number" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>День</mat-label>
      <input autocomplete="off" class="day" formControlName="day" matInput max="31" min="1" step="1" type="number" />
    </mat-form-field>
  </div>

  <div class="date-picker">
    <mat-form-field appearance="fill" class="date-picker__input">
      <input [formControl]="dateControl" [matDatepicker]="picker" matInput />
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button (click)="openPicker(picker)" class="date-picker__calendar-button" color="accent" mat-raised-button>
      <mat-icon>event</mat-icon>
    </button>
  </div>
</form>
