<form (click)="emitTouch($event)" [formGroup]="form" appDateDayValidator appDateMonthValidator>
  <ui-form-field-set orientation="horizontal" class="date-input">
    <ui-form-field>
      <input
        [max]="maxYear"
        autocomplete="off"
        class="year"
        formControlName="year"
        appMin="1970"
        [appMax]="maxYear"
        placeholder="Год"
        step="1"
        type="number"
        uiInput
      />
       <ui-error *ngIf="form.get('year').errors"></ui-error>
    </ui-form-field>

    <ui-form-field>
      <input autocomplete="off" class="month" formControlName="month" appMax="12" appMin="1" placeholder="Месяц" step="1" type="number" uiInput />
      <ui-error *ngIf="form.get('month').errors"></ui-error>
    </ui-form-field>

    <ui-form-field>
      <input autocomplete="off" class="day" formControlName="day" appMax="31" appMin="1" placeholder="День" step="1" type="number" uiInput />
      <ui-error *ngIf="form.get('day').errors"></ui-error>
    </ui-form-field>
  </ui-form-field-set>

  <button (click)="setToday()" uiButton>Сегодня</button>
</form>
