.date-input {
  width: calc(100% - 84px);

  display: flex;

  justify-content: space-between;

  > ui-form-field {
    flex: 0 0 33%;

    input {
      width: 90%;
    }
  }
}

form {
  display: flex;
  justify-content: space-between;
}
