<div>{{name}}</div>
<div *ngIf="authors.length > 0">{{authors | join}}</div>
<mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
<div class="progress-data dark-text" *ngIf="progressValue || startDate">
  <small class="progress" *ngIf="progressValue">
    <span>{{done}} </span>
    <span i18n="book progress|прогресс прочитанных единиц из общего кол-ва">из</span>
    <span> {{total}}</span>
  </small>
  <div class="separator">

  </div>
  <small *ngIf="startDate">
    [ {{startDate | date: 'shortDate'}} - ... ]
  </small>
</div>
