@import "~src/styles/variables";

.content {
  padding: $ind-1 $ind-2;
}

form {
  .form-header {
    margin-bottom: $ind-3;

    display: inline-block;
  }
}

// Books
.book-line {
  > *:not(:last-child) {
    margin-bottom: $ind-1;
  }

  &__name {
    font-family: 'NotoSans';
    font-weight: $fat-font-weight;
    line-height: 1.2rem;
  }

  &__icons {
    flex: 0 0 auto;

    > span:not(:first-child) {
      margin-left: $ind-2;
    }

    > span {
      font-size: 16px;
    }
  }

  &__authors {
    font-weight: $normal-font-weight;
    line-height: normal;
  }

  &__progress-data {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    > * {
      flex: 0 0 auto;
    }

    .separator {
      flex: 1 1 0;
    }
  }
}

app-in-progress-book {
  @extend .book-line;
}

app-to-read-book {
  @extend .book-line;
}

app-done-book {
  @extend .book-line;
}

.tags {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: flex-start;

  app-tag-value {
    flex: 0 0 auto;

    &:not(:last-child) {
      margin-right: $ind-1;
    }

    margin-bottom: $ind-1;
  }
}

// Book
.property {
  &:not(:last-child) {
    margin-bottom: $ind-4;
  }

  &__value {
    margin-bottom: $ind-1;
  }

  &__label, label {
    font-size: $few-font-size;
    font-weight: $fat-font-weight;

    margin-left: $ind-1;
  }
}

.button-group {
  &.vertical {
    > button {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: $ind-2;
      }
    }
  }
}

// SideMenu

.link {
  color: #007BFF;
}

.nav {
  &:not(:first-child) .name {
    margin-top: $ind-4;
  }

  .name {
    margin-bottom: $ind-2;
    font-weight: 600;
  }

  ul, li {
    width: 100%;
  }

  ul {
    padding-left: $ind-4;
  }

  li {
    @extend .link;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2rem;

    > * {
      flex: 1 1 auto;
    }

    > .nav-icon {
      flex: 0 0 auto;
    }
  }
}


// Book lists
.abstract-list {
  width: 100%;
  height: 100%;

  overflow: auto;
}

.list-viewport {
  @extend .abstract-list;

  cdk-virtual-scroll-viewport {
    @extend .abstract-list;
  }
}

.book-list {
  &__item {
    padding: $ind-1;
  }
}

ul {
  li.statistic-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $ind-3 $ind-2;
  }
}
