@import "~src/styles/variables";

.content {
  padding: $ind-1 $ind-2;
}

form {
  mat-form-field, mat-error {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $ind-2;
    }
  }

  .form-header {
    margin-bottom: $ind-3;

    display: inline-block;
  }
}

// Icons

// Book lists

.book-list {
  &__item {
    padding: $ind-1;
  }
}

// Books
.book-line {
  > *:not(:last-child) {
    margin-bottom: $ind-1;
  }

  &__name {
    font-weight: $fat-font-weight;
    margin-bottom: 0 !important;
  }

  &__icons {
    flex: 0 0 auto;
  }

  &__authors {
    font-weight: $fat-font-weight;
    line-height: normal;
  }

  &__progress-data {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    > * {
      flex: 0 0 auto;
    }

    .separator {
      flex: 1 1 0;
    }
  }
}

app-in-progress-book {
  @extend .book-line;
}

app-to-read-book {
  @extend .book-line;
}

app-done-book {
  @extend .book-line;
}

// Header
mat-toolbar {
  height: $header-height !important;
}

.tags {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: flex-start;

  app-tag-value {
    flex: 0 0 auto;

    &:not(:last-child) {
      margin-right: $ind-1;
    }

    margin-bottom: $ind-1;
  }
}

// List
.statistic-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Book
.property {
  &:not(:last-child) {
    margin-bottom: $ind-4;
  }

  &__value {
    margin-bottom: $ind-1;
  }

  &__label, label {
    font-size: $few-font-size;
    font-weight: $fat-font-weight;

    margin-left: $ind-1;
  }
}

form {
  mat-error {
    position: relative;
    bottom: 1.34375em;
  }
}
