@import "~src/styles/variables";


.content {
  padding: $ind-2;
}

form {
  mat-form-field, mat-error {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $ind-2;
    }
  }
}

.book-list {
  padding: $ind-1;
}


// Books
.book {
  > *:not(:last-child) {
    margin-bottom: $ind-1;
  }

  &__name {
    font-weight: $fat-font-weight;
  }

  &__authors {
    font-weight: $fat-font-weight;
    font-size: $small-font-size;
  }

  &__progress-data {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    > * {
      flex: 0 0 auto;
    }

    .separator {
      flex: 1 1 0;
    }
  }
}

app-progressing-book {
  @extend .book;
}
