<div *ngIf="filteredData | async as filteredData" class="scroll-list">
  <ul *ngIf="filteredData.length > 0; else emptyList">
    <li (click)="selected.emit(item.key)" *ngFor="let item of filteredData" class="statistic-item w-100">
      <span class="statistic-item__name link">{{ item.key | capitalize }}</span>
      <span class="statistic-item__count">{{ item.group }}</span>
    </li>
  </ul>
  <ng-template #emptyList>
    <app-empty-list-placeholder></app-empty-list-placeholder>
  </ng-template>
</div>
