@import "variables";
@import "mixins";

.form-control {
  display: block;

  border-radius: $default-radius;

  padding: $ind-2 $ind-4;

  width: 100%;

  border: 1px solid $border-color;

  &:focus {
    @include focusBorder;
  }

  background-color: white;
}

[uiInput] {
  @extend .form-control;
}

[uiSelect] {
  @extend .form-control;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-size: 0.85rem auto;
  background-repeat: no-repeat;
  background-position: right #{$ind-3} center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ui-form-field {
  .invalid {
    [uiInput] {
      border: 1px solid $border-error-color;

      &:focus {
        @include focusBorder;
      }
    }
  }

  ui-label {
    margin-bottom: $ind-1;
  }

  ui-error {
    margin-top: $ind-2;
  }
}

form.ui-form {
  > :not(:first-child):not(.ui-form-header):not(ui-error) {
    margin-top: $ind-5;
  }

  button[type=submit] {
    margin-top: $ind-3;
  }
}

.field-group {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &.horizontal {
    flex-flow: row;

    ui-form-field {
      margin-top: 0;
      flex: 1 1 auto;
    }
  }
}

[uiButton] {
  display: inline-block;
  border-radius: $default-radius;
  padding: 0;

  text-align: center;
  vertical-align: middle;

  transition: color ease-in-out 0.15s,
  border-color ease-in-out 0.15s,
  background-color ease-in-out 0.15s,
  box-shadow ease-in-out 0.15s;
  padding: $ind-2 $ind-3;
  color: white;
  cursor: pointer;

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }

  &.btn-primary {
    color: white;
    background-color: $primary-button-color;
    border: 1px solid transparent;

    &:focus {
      border-color: $primary-button-focused-color;
      background-color: $primary-button-focused-color;
      box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    }
  }

  &.btn-success {
    background-color: $success-button-color;
    border: 1px solid transparent;

    &:focus {
      border-color: $success-button-focused-color;
      background-color: $success-button-focused-color;
      box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 50%);
    }
  }

  &.btn-secondary {
    background-color: $secondary-button-color;
    border: 1px solid transparent;

    &:focus {
      border-color: $secondary-button-focused-color;
      background-color: $secondary-button-focused-color;
      box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
    }
  }

  &.btn-danger {
    background-color: $danger-button-color;
    border: 1px solid transparent;

    &:focus {
      border-color: $danger-button-focused-color;
      background-color: $danger-button-focused-color;
      box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
    }
  }

  &.btn-warning {
    background-color: $warning-button-color;
    border: 1px solid transparent;
    color: black;

    &:focus {
      border-color: $warning-button-focused-color;
      background-color: $warning-button-focused-color;
      box-shadow: 0 0 0 0.25rem rgb(217 164 6 / 50%);
    }
  }
}

[uiIconButton] {
  @extend [uiButton];
  padding: 0;
}

ui-toolbar {
  font-size: 18px;
  font-weight: 700;

  width: 100%;

  background-color: $toolbar-color;
  color: white;

  height: 56px;

  padding: $ind-4;
}

ui-side-menu-host {
  height: 100%;
  width: 100%;

  position: relative;

  .ui-backdrop {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 500;

    height: 100%;
    width: 100%;

    transition: background-color 1s ease-in-out;
    background-color: #00000000;

    &.ui-dark {
      background-color: #00000030;
    }
  }

  ui-side-menu {
    width: 100%;
    height: 100%;
    max-width: 75%;
    background-color: white;

    transition: all ease-in-out 0.5s;
    position: fixed;
    z-index: 1000;

    &.left {
      height: 100%;
      left: -100%;

      &.opened {
        left: 0;
      }
    }
  }
}

ui-progress-bar {
  .ui-progress {
    height: 0.8rem;
    width: 100%;

    border-radius: $default-radius;
    background-color: $progress-background-color;

    position: relative;

    .ui-progress-bar {
      position: absolute;

      height: 100%;
      border-radius: $default-radius;

      background-color: $primary-color;
    }
  }
}


ui-divider {
  width: 100%;

  .ui-divider {
    padding: 0 $ind-1;

    width: 100%;
    border-bottom: $divider-color 1px solid;
    height: 1px;

    margin: $ind-1 0;
  }
}

ui-accordion {
  border-radius: $default-radius;
  border: 1px solid $border-color;

  ui-expansion-panel {
    border-bottom: 1px solid $border-color;

    .ui-panel__header-wrapper, .ui-panel__body-wrapper {
      padding: $ind-4;
    }

    .ui-panel__header-wrapper {
      border-bottom: 1px solid $border-color;

      &.opened {
        background-color: #e7f1ff;
        color: #0c63e4;

        transition: all 0.35s ease-in-out;
        @include focusBorder;
      }
    }

    .ui-panel__body-wrapper {
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;

      transition: height 0.35s ease-in-out;

      &.collapsed {
        height: 0;
      }
    }
  }
}

ui-modal {
  background-color: #00000050;

  .ui-modal-wrapper {
    background-color: white;

    border-radius: $default-radius;

    ui-modal-header, ui-modal-body, ui-modal-bottom {
      padding: $ind-4;
    }

    ui-modal-header, ui-modal-body {
      border-bottom: 1px solid $border-color;
    }

    ui-modal-bottom {
      display: flex;

      justify-content: flex-end;

      align-items: center;

      > *:not(:first-child) {
        margin-left: $ind-2;
      }
    }
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.ui-spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid $purple-color;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}
