<mat-toolbar color="primary">
  <app-title></app-title>
</mat-toolbar>
<div class="content">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Почта</mat-label>
      <input appTrimOnBlur formControlName="email" matInput required />
      <mat-error *ngIf="form.get('email').invalid"> Это обязательное поле </mat-error>
    </mat-form-field>

    <button [disabled]="form.invalid" class="w-100" color="primary" mat-flat-button type="submit">Восстановить пароль</button>
  </form>
</div>
