<mat-toolbar color="primary">
  <app-title></app-title>
</mat-toolbar>
<div class="content">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label i18n>Почта</mat-label>
      <input matInput formControlName="email" required/>
      <mat-error *ngIf="form.get('email').invalid" i18n>
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <button mat-flat-button
            color="primary"
            class="w-100"
            [disabled]="form.invalid"
            type="submit"
            i18n
    >
      Восстановить пароль
    </button>
  </form>
</div>
