@import "~src/styles/variables";

.tag {
  display: flex;
  align-items: center;

  background-color: #f9cd0b;

  color: white;

  > * {
    flex: 0 0 auto;
  }

  padding: $ind-1;

  line-height: 18px;

  min-width: unset;

  &__close {
    margin-left: $ind-1;
  }

  border-radius: 4px;
}

:host {
  display: block;
}
