@import "~src/styles/variables";

.tag {
  display: flex;
  align-items: center;

  > * {
    flex: 0 0 auto;
  }

  padding: $ind-1;

  line-height: 1.3rem;

  min-width: unset;

  &__close {
    margin-left: $ind-1;
  }
}

:host {
  display: block;
}
