@import "~src/styles/variables";

.tag {
  display: flex;
  align-items: center;
  background-color: $warning-color;

  color: black;

  > * {
    flex: 0 0 auto;
  }

  line-height: 18px;

  min-width: unset;

  &__value {
    padding: $ind-2;
  }

  border-radius: 4px;
}

:host {
  display: block;
}
