<div *ngIf="collection" class="collection">
  <div *ngIf="collection.description" class="collection__description">
    <span>{{ collection.description }}</span>
    <mat-divider></mat-divider>
  </div>
  <div class="collection__buttons">
    <button [routerLink]="['/series', 'edit', collection.guid]" color="primary" mat-flat-button>Редактировать</button>
    <button (click)="openDeleteDialog(collection)" color="warn" mat-flat-button>Удалить</button>
  </div>
</div>
<div class="book-list">
  <div *ngFor="let book of books$ | async; let last = last; trackBy: bookTrackBy">
    <app-to-read-book [book]="book" [routerLink]="['/book', book.guid]" class="book-list__item"></app-to-read-book>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</div>
