:host {
  height: 100%;
  width: 100%;

  background-color: rgba(138, 43, 226, 0.25);

  position: absolute;

  left: 0;
  top: 0;

  z-index: 10000;

  display: flex;

  justify-content: center;
  align-items: center;
}
