@import 'variables.scss';


// Icons 
.icon {
    display: block;

    height: $icon-size;
    width: $icon-size;

    line-height: $icon-size;
    font-size: $icon-size / 2;

    text-align: center;
}

// Buttons
.btn-outline-danger {
    color: $danger-color;
    border-color: $danger-color;
}

.btn-danger {
    background-color: $danger-color;
}

.icon.avatar {
    img {
        display: inherit;

        padding: 0.3rem;

        border-radius: 0.6rem;

        height: 100%;
        width: 100%;
    }
}

// Application
#app {
    max-width: 100%;
    max-height: 100%;
}

//Progress Bar
.progress-bar {
    background-color: $progress-bar-color;
}

.book-line {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fa {
            font-size: 1.5rem;
        }
    }
}

// Lists

.book-list-standard {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    >.header {
        display: inline-block;
        width: 100%;
        height: $list-header-height;

        border-bottom: $split-line;

        margin-bottom: 0;
    }



    >ul {
        overflow-y: auto;
        height: calc(100% - #{$list-header-height});

        >li {
            margin-top: 0.2rem;
        }
    }
}

.book-list {
    @extend .book-list-standard;
}

.book-year-list {
    @extend .book-list-standard;

    .year-header {
        font-weight: 700;
    }
}

.menu {
    padding: 0.5rem;
}

.statistic-list {
    ul {
        li {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .name {
                font-size: $big-font-size;
                font-weight: $fat-font-weight;
            }

            .count {
                font-size: $big-font-size;
                font-weight: $fat-font-weight;
            }
        }
    }
}

.genres-list {
    @extend .statistic-list;
}

.tags-list {
    @extend .statistic-list;
}

// Profile
.profile {
    position: relative;

    >.marker {
        position: absolute;

        right: 0.1rem;
        top: 0;
    }

    >.total-count {
        left: 0;
        bottom: 0;

        font-size: 0.65rem;

        transform: translate(5%, 0%);

        position: absolute;
    }
}