// Color Names
$black: #000000;
$white: #FFFFFF;

$cadet: #637074;
$space-cadet: #222E50;

$bdazzled-blue: #415a77;
$blue-sapphire: #175676;
$lapis-lazuli: #1C5D99;
$maya-blue: #51bbfe;
$blue-ryb: #4056F4;
$vavid-sky-blue: #49C6E5;
$spanish-blue: #2373BE;
$blue-jeans: #0BA1FE;

$tea-green: #C2EABD;
$bud-green : #79B473;
$illuminating-emerald: #00916E;
$polished-pine : #439A86;

$fire-opal : #DE6449 ;
$bittersweet : #FF6666 ;
$paradise-pink: #E63462;
$vermilion : #D84727 ;
$dark-sienna : #230903 ;
$persian-orange : #DC965A ;

// Colors
$split-color: $bdazzled-blue;
$header-color: $maya-blue;

$header-text-color: $white;
$dark-text-color: $cadet;

$bg-color: $white;
$overlay-color: #{$bdazzled-blue}55;

$progress-bar-color: $polished-pine;

$info-color: $spanish-blue;
$danger-color: $vermilion;
$warning-color: $bittersweet;
$alert-color: $paradise-pink;
$primary-color: $blue-jeans;

// Lines
$split-line: 1px solid $split-color;

// Header
$header-height: 2.7rem;

// Lists
$list-header-height: 2.2rem;

// Icons
$icon-size: 2.5rem;

// Media
$phone-screen-width: 768px;

// Font
$micro-font-size: 0.5rem;
$small-font-size: 0.75rem;
$normal-font-size: 1rem;
$big-font-size: 1.25rem;
$huge-font-size: 1.5rem;

$tiny-font-weight: 300;
$normal-font-weight: 400;
$fat-font-weight: 500;

// Connection
$connected-marker-color: $bud-green;
$not-connected-marker-color: $bittersweet;

// Loader
$loader-overlay-color: #{$bdazzled-blue}77;

// Total Count
$total-placeholder-color: $blue-ryb;