// Icons
$icon-size: 2.5rem;

// Media
$phone-screen-width: 768px;

// Color Names
$black: #000000;
$white: #FFFFFF;
$maya-blue: #51bbfe;
$bdazzled-blue: #415a77;

// Colors
$split-color: $bdazzled-blue;
$header-color: $maya-blue;
$header-text-color: $white;

$bg-color: $white;
$overlay-color: #{$bdazzled-blue}55;

// Lines
$split-line: 1px solid $split-color