<div *ngIf="collections$ | async as collections" class="collection-static-list scroll-list">
  <ul *ngIf="collections?.length > 0; else emptyList" role="list">
    <li *ngFor="let item of collections" class="statistic-item w-100">
      <div class="statistic-item__header">
        <span [routerLink]="['/series', item.guid]" class="link">{{ item.name | capitalize }}</span>
        <div class="actions">
          <span [hidden]="!item.shouldSync" class="ui-cloud-upload"></span>
          <span>{{ item.count }}</span>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #emptyList>
    <app-empty-list-placeholder></app-empty-list-placeholder>
  </ng-template>
</div>
