<form [formGroup]="form" class="tags-input__form">
  <ui-form-field>
    <ui-label>{{ header }}</ui-label>
    <ui-chip-list>
      <ui-chip (crossClick)="removeTag(tag)" *ngFor="let tag of tags; trackBy: trackByValue" showCross="true">
        {{ tag | capitalize }}
      </ui-chip>

      <input
        (uiChipAddOnBlur)="append()"
        (uiChipInputFinished)="append()"
        [placeholder]="placeholder"
        [uiList]="tagId"
        appTrimOnBlur
        class="tag"
        formControlName="input"
      />
    </ui-chip-list>
  </ui-form-field>

  <datalist id="{{ tagId }}">
    <option *ngFor="let tag of availableTags | async" [value]="tag | capitalize">
      {{ tag | capitalize }}
    </option>
  </datalist>
</form>
