@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

:host {
  @include centeredByRow;
  justify-content: flex-end;

  form, .search {
    height: 100%;
    width: 100%;
  }

  .search {
    @include centeredByRow;

    [uiInput] {
      background-color: #673ab7;
      color: white;

      -webkit-box-shadow: 0px 0px 0px 0.25rem rgba(102, 35, 225, 0.6) inset;
      -moz-box-shadow: 0px 0px 0px 0.25rem rgba(102, 35, 225, 0.6) inset;
      box-shadow: 0px 0px 0px 0.25rem rgba(102, 35, 225, 0.6) inset;
    }
  }
}
