<div *ngIf="books$ | async as books" class="book-list">
  <cdk-virtual-scroll-viewport
    *ngIf="+books?.length > 0; else emptyList"
    [itemSize]="71"
    [maxBufferPx]="490"
    [minBufferPx]="350"
    class="book-list done-books-list"
  >
    <div *cdkVirtualFor="let book of books; let last = last; trackBy: bookTrackBy">
      <app-done-book [book]="book" [routerLink]="['/book', book.guid]" class="book-list__item"></app-done-book>
      <ui-divider [hidden]="last"></ui-divider>
    </div>
  </cdk-virtual-scroll-viewport>
  <ng-template #emptyList>
    <app-empty-list-placeholder></app-empty-list-placeholder>
  </ng-template>
</div>
