<mat-toolbar color="primary">
  <app-title></app-title>
</mat-toolbar>
<div class="content">
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <mat-form-field appearance="fill">
      <mat-label >Логин</mat-label>
      <input matInput formControlName="login" required/>
      <mat-error *ngIf="form.get('login').invalid" >
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label >Почта</mat-label>
      <input matInput type="email" formControlName="email" required/>
      <mat-error *ngIf="form.get('email').invalid" >
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label >Пароль</mat-label>
      <input matInput type="password" formControlName="password" required/>
      <mat-error *ngIf="form.get('password').invalid" >
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label >Подтверждение пароля</mat-label>
      <input matInput type="password" formControlName="confirmation" required/>
      <mat-error *ngIf="form.get('confirmation')?.errors?.required" >
        Это обязательное поле
      </mat-error>
      <mat-error *ngIf="form.get('confirmation')?.errors?.passwordMatch && !form.get('confirmation')?.errors?.required" >
        Пароли не совпадают
      </mat-error>
    </mat-form-field>

    <mat-error  *ngIf="error !== null" class="login-error">
      <ng-container [ngSwitch]="error">
        <span *ngSwitchCase="RegistrationError.LoginExists">Такой логин уже занят</span>
        <span *ngSwitchCase="RegistrationError.EmailExists">Такая почта уже занята</span>
        <span *ngSwitchDefault>Неизвестная ошибка</span>
      </ng-container>
    </mat-error>

    <button mat-flat-button
            color="primary"
            class="w-100"
            [disabled]="form.invalid"
            (click)="submit($event)"

    >
      Зарегистрироваться
    </button>
  </form>
</div>
