<mat-toolbar color="primary">
  <app-title></app-title>
</mat-toolbar>
<div class="content">
  <form (ngSubmit)="submit($event)" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Логин</mat-label>
      <input formControlName="login" matInput required/>
      <mat-error *ngIf="form.get('login').invalid">
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Почта</mat-label>
      <input formControlName="email" matInput required type="email"/>
      <mat-error *ngIf="form.get('email').invalid">
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input formControlName="password" matInput required type="password"/>
      <mat-error *ngIf="form.get('password').invalid">
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Подтверждение пароля</mat-label>
      <input formControlName="confirmation" matInput required type="password"/>
      <mat-error *ngIf="form.get('confirmation')?.errors?.required">
        Это обязательное поле
      </mat-error>
      <mat-error *ngIf="form.get('confirmation')?.errors?.passwordMatch && !form.get('confirmation')?.errors?.required">
        Пароли не совпадают
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="error !== null" class="login-error">
      <ng-container [ngSwitch]="error">
        <span *ngSwitchCase="RegistrationError.LoginExists">Такой логин уже занят</span>
        <span *ngSwitchCase="RegistrationError.EmailExists">Такая почта уже занята</span>
        <span *ngSwitchDefault>Неизвестная ошибка</span>
      </ng-container>
    </mat-error>

    <button (click)="submit($event)"
            [disabled]="form.invalid"
            class="w-100"
            color="primary"
            mat-flat-button

    >
      Зарегистрироваться
    </button>
  </form>
</div>
