//@import 'styles/reset.css';

@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/components.scss';

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.dark-text {
    color: $secondary-text-color;
}

.btn-info {
    background-color: $info-color;
    border-color: $info-color;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-danger {
    background-color: $danger-color;
    border-color: $danger-color;
}

.is-invalid {
    .invalid-feedback {
        display: inline;
        padding: 0.5rem 1rem;
    }

    background-color: #{$warning-color}33;
    border-radius: 0.25rem;
}

.no-wrap {
    white-space: nowrap;
}
