<app-user-info></app-user-info>
<div class="content" (click)="navigated.emit()">
  <div class="nav">
    <div class="name">Списки</div>
    <ul>
      <li>
          <span [routerLink]="['/in-progress']">Читаю сейчас</span>
          <span [routerLink]="['/book', 'create', BookStatus.InProgress]" class="ui-plus-square nav-icon"></span>
      </li>
      <li>
          <span [routerLink]="['/to-read']">Буду читать</span>
          <span [routerLink]="['/book', 'create', BookStatus.ToRead]" class="ui-plus-square nav-icon"></span>
      </li>
      <li>
          <span [routerLink]="['/done']">Прочитаные</span>
          <span [routerLink]="['/book', 'create', BookStatus.Done]" class="ui-plus-square nav-icon"></span>
      </li>
    </ul>
  </div>
  <div class="nav named">
    <div class="name">Статистика</div>
    <ul>
      <li>
        <span [routerLink]="['/series']">Серии</span>
        <span [routerLink]="['/series', 'create']" class="ui-plus-square nav-icon"></span>
      </li>
      <li>
        <span [routerLink]="['/years']">Года прочтения</span>
      </li>
      <li>
        <span [routerLink]="['/genres']">Жанры</span>
      </li>
      <li>
        <span [routerLink]="['/authors']">Авторы</span>
      </li>
      <li>
        <span [routerLink]="['/tags']">Теги</span>
      </li>
    </ul>
  </div>
  <div class="nav named">
    <div class="name">Аккаунт</div>
    <ul>
      <li>
        <span routerLink="/settings">Настройки</span>
      </li>
      <li>
        <span (click)="logout()">Выйти</span>
      </li>
    </ul>
  </div>
  <div class="nav named sync">
    <app-sync-info></app-sync-info>
  </div>
  <span class="dark-text version">
    <span *ngIf="newVersionAvailable | async; else emptyUpdates"> Доступно обновление </span>

    <ng-template #emptyUpdates>
      <span>{{ version }}</span>
    </ng-template>
  </span>
</div>
