@import "~src/styles/variables";

:host {
  display: block;

  min-width: 250px;
}

.book-nav__item {
  display: flex;

  align-items: baseline;
  justify-content: space-between;

  width: 100%;
}

.navigation {
  width: 100%;

  &__header {
    font-size: $large-font-size;
    font-weight: $fat-font-weight;
  }
}

mat-list {
  mat-list-item {
    height: 2.2rem;
  }
}

.bottom {
  position: absolute;

  bottom: 0;
  left: 0;
}

.navigation.sync {
  @extend .bottom;
}

.version {
  @extend .bottom;
  font-size: 11px;

  right: 0.25rem;
  left: unset;
}
