@import "~src/styles/variables";

:host {
  display: block;

  min-width: 250px;
}

.book-nav__item {
  display: flex;

  align-items: baseline;
  justify-content: space-between;

  width: 100%;
}

.book-nav {
  padding-top: 0;
}

.navigation {
  width: 100%;

  &__header {
    font-size: $large-font-size;
    font-weight: $fat-font-weight;
  }
}

ul.book-nav {
  padding-left: $ind-2;

  li {
    height: 35px;
    display: flex;
    align-items: center;
  }

  margin-bottom: $ind-4;
}

.bottom {
  position: absolute;

  bottom: 8px;
  left: 0;
}

.navigation.sync {
  @extend .bottom;
}

.version {
  @extend .bottom;
  font-size: 11px;

  right: 4px;
  left: unset;
}

.ui-plus-square {
  font-size: 28px;
}
