@import "~src/styles/variables";

:host {
  display: block;

  min-width: 250px;
}

.bottom {
  position: absolute;

  bottom: 8px;
  left: 0;
}

.nav.sync {
  @extend .bottom;
}

.version {
  @extend .bottom;
  font-size: 11px;

  right: 4px;
  left: unset;
}

.ui-plus-square {
  font-size: 28px;
}
