<app-user-info></app-user-info>
<div class="content">
  <div (click)="navigated.emit()">
    <div class="navigation">
      <div class="navigation__header" >Списки</div>
      <div class="navigation__body">
        <mat-list class="book-nav">
          <mat-list-item>
            <div class="book-nav__item">
              <span class="link" [routerLink]="['/in-progress']">Читаю сейчас</span>
              <app-plus-icon [routerLink]="['/book', 'create', BookStatus.InProgress]"></app-plus-icon>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="book-nav__item">
              <span class="link" [routerLink]="['/to-read']">Буду читать</span>
              <app-plus-icon [routerLink]="['/book', 'create', BookStatus.ToRead]"></app-plus-icon>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="book-nav__item">
              <span class="link" [routerLink]="['/done']">Прочитаные</span>
              <app-plus-icon [routerLink]="['/book', 'create', BookStatus.Done]"></app-plus-icon>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="navigation">
      <div class="navigation__header" >Статистика</div>
      <div class="navigation__body">
        <mat-list class="book-nav">
          <mat-list-item>
            <span class="link book-nav__item" [routerLink]="['/series']">Серии</span>
            <app-plus-icon [routerLink]="['/series', 'create']"></app-plus-icon>
          </mat-list-item>
          <mat-list-item>
            <span class="link" [routerLink]="['/years']">Года прочтения</span>
          </mat-list-item>
          <mat-list-item>
            <span class="link" [routerLink]="['/genres']">Жанры</span>
          </mat-list-item>
          <mat-list-item>
            <span class="link" [routerLink]="['/authors']">Авторы</span>
          </mat-list-item>
          <mat-list-item>
            <span class="link" [routerLink]="['/tags']">Теги</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="navigation">
      <div class="navigation__header" >Аккаунт</div>
      <div class="navigation__body">
        <mat-list class="book-nav">
          <mat-list-item>
            <span class="link" routerLink="/settings" >Настройки</span>
          </mat-list-item>
          <mat-list-item>
            <span class="link" (click)="logout()" >Выйти</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="navigation sync">
      <div class="navigation__body">
        <app-sync-info></app-sync-info>
      </div>
    </div>
    <span class="dark-text version" (click)="clearCache()">Version: {{version}}</span>
  </div>
</div>
