**/dist
**/.dockerignore
**/.git
**/.gitignore
**/.idea
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/docker-compose*
**/Dockerfile*
**/node_modules
LICENSE
README.md
**/node_modules
