<form (ngSubmit)="submit()" [formGroup]="form.nativeForm">
  <ui-form-field appearance="fill" class="name-field">
    <ui-label>Название</ui-label>
    <input
      appTrimOnBlur
      autocomplete="off"
      class="collection__name"
      formControlName="name"
      placeholder="Укажите название серии"
      required
      type="text"
      uiInput
    />
    <ui-error *ngIf="form.nameInvalid">{{ form.nameErrorMessage }}</ui-error>
  </ui-form-field>

  <ui-form-field appearance="fill">
    <ui-label>Описание</ui-label>
    <textarea appTrimOnBlur autocomplete="off" class="collection__description" formControlName="description" rows="5"
              uiInput></textarea>
  </ui-form-field>

  <button [disabled]="form.invalid" class="w-100 submit" color="primary" type="submit" uiButton>Сохранить</button>
</form>
