<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Название</mat-label>
    <input matInput formControlName="name" type="text" required/>
    <mat-error *ngIf="form.get('name').invalid" i18n>
      Это обязательное поле
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="description" rows="5"></textarea>
  </mat-form-field>

  <button class="w-100" mat-flat-button [disabled]="form.invalid" color="primary" type="submit">
    Сохранить
  </button>
</form>
