<form (ngSubmit)="submit()" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Название</mat-label>
    <input autocomplete="off" formControlName="name" matInput required type="text" />
    <mat-error *ngIf="form.get('name').invalid"> Это обязательное поле </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <textarea autocomplete="off" formControlName="description" matInput rows="5"></textarea>
  </mat-form-field>

  <button [disabled]="form.invalid" class="w-100" color="primary" mat-flat-button type="submit">Сохранить</button>
</form>
