<ui-side-menu-host [hasBackdrop]="true">
  <ui-side-menu #drawer>
    <app-side-menu></app-side-menu>
  </ui-side-menu>
  <div class="main inner-area-placeholder">
    <ui-toolbar class="main__header">
      <button class="mr-4 menu-icon" color="#713FC2" design="flat" uiIconButton>
        <span (click)="drawer.open()" class="ui-menu"></span>
        <app-connection-marker></app-connection-marker>
      </button>

      <div class="modifiable-title">
        <app-title></app-title>
        <app-search *ngIf="isSearchEnabled | async"></app-search>
      </div>
    </ui-toolbar>
    <div class="main__body">
      <router-outlet></router-outlet>
    </div>
  </div>
</ui-side-menu-host>
