@import "~src/styles/variables";

:host {
  height: 100%;
  width: 100%;

  display: block;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;

  > * {
    width: 100%;
    max-width: 100%;
  }

  &__header {
    height: #{$header-height};
  }

  &__body {
    height: calc(100% - #{$header-height});
    overflow: auto;
  }
}
