<ui-side-menu-host [hasBackdrop]="true">
  <ui-side-menu #drawer>
    <app-side-menu (click)="drawer.close()"></app-side-menu>
  </ui-side-menu>
  <div class="main">
    <ui-toolbar class="main__header">
      <span (click)="drawer.open()" class="ui-menu p-r-4"></span>
      <div class="modifiable-title">
        <app-title></app-title>
        <app-search *ngIf="isSearchEnabled | async"></app-search>
      </div>
    </ui-toolbar>
    <div class="content main__body">
      <router-outlet></router-outlet>
    </div>
  </div>
</ui-side-menu-host>
