<div class="content">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="form-header">Смена почты</label>
    
    <mat-form-field appearance="fill">
      <mat-label i18n>Почта</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        required
      />
      <mat-error *ngIf="form.get('email').invalid" i18n>
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <button mat-flat-button
            color="primary"
            class="w-100"
            [disabled]="form.invalid"
            type="submit"
    >
      Сменить почту
    </button>
  </form>
</div>
