<mat-toolbar color="primary">
  <app-title></app-title>
</mat-toolbar>
<div class="content">
  <form [formGroup]="form.nativeForm">
    <mat-form-field appearance="fill" class="login-field">
      <mat-label>Логин</mat-label>
      <input appTrimOnBlur class="login" formControlName="login" matInput required />
      <mat-error *ngIf="form.loginInvalid">Это обязательное поле</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-field">
      <mat-label>Пароль</mat-label>
      <input class="password" formControlName="password" matInput required type="password" />
      <mat-error *ngIf="form.passwordInvalid">Это обязательное поле</mat-error>
    </mat-form-field>

    <mat-error *ngIf="error !== null" class="login-error">
      <ng-container [ngSwitch]="error">
        <span *ngSwitchCase="LoginError.Credential">Неверные логин или пароль</span>
        <span *ngSwitchDefault>Неизвестная ошибка</span>
      </ng-container>
    </mat-error>

    <span [routerLink]="['/recovery-password']" class="link">Восстановить пароль</span>

    <button (click)="submit($event)" [disabled]="form.invalid" class="w-100 submit" color="primary" mat-flat-button>Войти</button>
  </form>
</div>
