<ui-toolbar color="primary">
  <app-title></app-title>
</ui-toolbar>
<div class="content">
  <form [formGroup]="form.nativeForm">
    <ui-form-field appearance="fill" class="login-field">
      <ui-label>Логин</ui-label>
      <input appTrimOnBlur class="login" formControlName="login" required uiInput />
      <ui-error *ngIf="form.loginInvalid">Это обязательное поле</ui-error>
    </ui-form-field>

    <ui-form-field appearance="fill" class="password-field">
      <ui-label>Пароль</ui-label>
      <input class="password" formControlName="password" required type="password" uiInput />
      <ui-error *ngIf="form.passwordInvalid">Это обязательное поле</ui-error>
    </ui-form-field>

    <ui-error *ngIf="error !== null" class="login-error">
      <ng-container [ngSwitch]="error">
        <span *ngSwitchCase="LoginError.Credential">Неверные логин или пароль</span>
        <span *ngSwitchDefault>Неизвестная ошибка</span>
      </ng-container>
    </ui-error>

    <span [routerLink]="['/recovery-password']" class="link">Восстановить пароль</span>

    <button (click)="submit($event)" [disabled]="form.invalid" class="w-100 submit" color="primary" type="submit" uiButton>Войти</button>
  </form>
</div>
